body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 25.6px;
  color: (218, 41, 28);
}

p {
  line-height: 1.8;
}

h2 {
  color: rgb(0, 94, 184);
  font-style: italic;
}

#buildings {
  background-color: rgb(109, 32, 119);
}

h2 + p {
  color: rgb(109, 32, 119);
}

h2 + p::first-letter {
  font-size: 2.4rem;
}

abbr {
  text-decoration: none !important;
}

h2 + ul {
  color: rgb(255, 255, 255);
}

h1 + p {
  background-color: rgb(109, 32, 119);
  color: rgb(255, 255, 255);
}

