body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 25.6px;
}

p {
  line-height: 1.8;
}

h2 {
  font-style: italic;
}

#buildings {
  background-color: rgb(109, 32, 119);
}

h2 - p {
  font-color: rgb(109, 32, 119);
}
